
<div *ngIf="recipe" id="divForRecipe">

    <p id="recipeName">{{recipe.name}}</p>
    <p>{{recipe.longDescr}}</p>

    <div id="sliderContainer">
        
        <div id="imageBox" [style]="{'background-image': 'url(' + recipe.imagePaths[activeImageNumber] + ')'}">
          <button class="button button__left" (click)="leftButtonClicked()"><</button>
          <button class="button button__right" (click)="rightButtonClicked()">></button>
        </div>
    </div>

    <p class="label">Hozzávalók:</p>
    <div *ngFor="let ingredient of recipe.ingredients" id="ingrText">{{ingredient}}</div>
    <p class="label">Elkészítés:</p>
    <div *ngFor="let direction of recipe.directions" id="directionText">{{direction}}</div><br><br>

    <a [routerLink]="['recipeList']">
        <button>Vissza a főoldalra</button><br><br>
    </a>
</div>
