
#labelForSearching {
    width: fit-content;
    text-transform: uppercase;
}

#inputForSearching {
    width: 15rem;
}

.toCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#divForCheckbox {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5rem;
    font-style: italic;
}

#message {
    color: red;
}

#boxForOneRecipe {
    border: 1px solid rgb(209, 205, 205);
    padding: .2rem;
    margin-bottom: .8rem;

    #recipeName {
        font-weight: 700;
    }

    .toCenter {
        text-align: center;
    }

    #imageBox {
        width: 95vw;
        height: 30vh;
        background-size: cover;
        background-position: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .example-button-row  {
        margin: 10px;
        display: inline-block;
    }

}

@media only screen and (min-width: 480px) {
    #boxForOneRecipe {
        width: 42vw;
        display: inline-block;

        #imageBox {
            max-width: 40vw;
        }
    }
}

@media only screen and (min-width: 1024px) {
    #boxForOneRecipe {
        width: 30vw;

        #imageBox {
            max-width: 28vw;
        }
    }
}

@media only screen and (min-width: 1280px) {
    #boxForOneRecipe {
        width: 18vw;

        #imageBox {
            max-width: 16vw;
        }
    }
}


