
<p id="labelForSearching" class="toCenter">Keress receptnévre vagy kategóriára:</p>
<input type="text" [(ngModel)]="searchedString" (ngModelChange)="searching($event)" id="inputForSearching" class="toCenter" >

<div id="divForCheckbox">
    <input type="checkbox" name="" id="searchInFavs" [(ngModel)]="searchOnlyInFavorites">
    <label for="searchInFavs">Csak a kedvencek közt keressen</label>
</div>

<p id="message">{{message}}</p>

<div *ngFor="let recipe of displayedRecipes" id="boxForOneRecipe">
    <p class="toCenter" id="recipeName">{{recipe.name}}</p>
    <p class="toCenter">{{recipe.shortDescr}}</p>
    <div id="imageBox" [style]="{'background-image': 'url(' + recipe.imagePaths[0] + ')'}"></div>
    <!-- <button (click)="addToFavorites(recipe)">Kedvencek közé</button> -->
    <div class="example-button-row">
        <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon" (click)="addToFavorites(recipe)" style="color: rgb(27, 112, 31); background-color: white;">
          <mat-icon>favorite</mat-icon>
        </button>
    </div>
    <!-- <button (click)="deleteFromFavorites(recipe)">Törlés kedvencek közül</button><br><br> -->
    <div class="example-button-row">
        <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a delete icon" (click)="deleteFromFavorites(recipe)" style="color: rgb(71, 68, 68); background-color: white;">
          <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
