
<ng-container *ngFor="let category of categories">
  <div id="boxForCategory">
    {{category}}
  </div>
  <div id="boxForOneCategory">
    <ng-container *ngFor="let cat of recipes">
      <ng-container *ngIf="cat.category === category">
        <div id="boxForOneRecipe">
          <nav (click)="navigateToRecipe(cat)">
            <p class="toCenter" id="recipeName">{{cat.name}}</p>
            <p class="toCenter">{{cat.shortDescr}}</p>
            <div id="imageBox" [style]="{'background-image': 'url(' + cat.imagePaths[0] + ')'}"></div>
          </nav>
          <button class="button" (click)="addToFavorites(cat)">Kedvencek közé</button>
          <button class="button" (click)="deleteFromFavorites(cat)">Törlés kedvencek közül</button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
